<html>
<h1> Snivy almighty! </h1>
<style>
    div {
        width: 420px;
        margin: auto;
    }
</style>
<div>

    🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬛⬛⬛🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️⬛⬛🟩🟩🟩🟩⬛🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️⬛🟩🟩🟩🟩🟩🟩🟩⬛🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️⬛⬛⬛🟩🟩🟩🟨🟨🟩🟩🟩⬛🌫️🌫️🌫️⬛⬛🌫️🌫️🌫️
    🌫️⬛🏻🟩🟩🟩🟨🟨🟨🟨🟩🟩⬛🌫️🌫️⬛🟩⬛🌫️🌫️🌫️
    🌫️⬛⬜⬜⬜🏻🟧⬛🟧🟧🟩🟩⬛🌫️🌫️⬛🟩⬛⬛⬛🌫️
    🌫️🌫️⬛⬜⬜⬜🟧🟥⬜🟧🟩🟩⬛🌫️⬛🟩🟩🟩🟩⬛🌫️
    🌫️🌫️🌫️⬛⬜⬜🏻🟧🏻🟧🟩⬛🌫️🌫️⬛🟩🟩🟩🟩⬛🌫️
    🌫️🌫️🌫️🌫️⬛⬛🏻🏻🏻🟩🟩⬛🌫️🌫️⬛🟩🟩🟩🟩⬛🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️⬛🏻⬜🟩🟧🟧⬛⬛⬛⬛🟩🟩⬛🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜🟩🟩🟩🟩🟩🟩🟩⬛🟩⬛🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬛🟩⬛🟩🟩🟩🟩🟩⬛🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️⬛🏻🟩⬛🟩🟩🟩🟩🟩🟩⬛🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛🏻🏻🟩🟩🟩🟩🟩⬛🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬛🏻🏻🟩⬛⬛🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬛⬛🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬛⬛🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
    🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️
</div>

<p> This is awesome, like, really awesome, but does it hotreload?</p>
<p> If you add the hot reload extension to your browser, it sure does!</p>
<p> this is the one i am using:</p>
<a href="https://addons.mozilla.org/en-US/firefox/addon/livereload-web-extension/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search" > livereload-web-extension</a>
</html>